* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #d62828;
  border-radius: 10px;
  padding: 1rem;
}

#output {
  background-color: black;
  color: white;
  display: flex;
  justify-content: end;
  align-items: start;
  padding: 2rem;
  width: 15rem;
  height: 2rem;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-areas:
    "btn1 btn2 btn3 btn4"
    "btn5 btn6 btn7 btn8"
    "btn9 btn10 btn11 btn12"
    "btn13 btn14 btn15 btn16"
    "btn17 btn17 btn18 btn19";
  gap: 1rem;
  margin-top: 1rem;
}

button {
  border-radius: 10px;
}

#clear {
  grid-area: btn1;
  border-radius: 10px;
  /* font-size: 2rem; */
}

.btn-test {
  grid-area: btn2;
}

.btn-test2 {
  grid-area: btn3;
}

.btn-div {
  grid-area: btn4;
}

.btn-7 {
  grid-area: btn5;
}

.btn-8 {
  grid-area: btn6;
}

.btn-9 {
  grid-area: btn7;
}

.btn-m {
  grid-area: btn8;
}

.btn-4 {
  grid-area: btn9;
}

.btn-5 {
  grid-area: btn10;
}

.btn-6 {
  grid-area: btn11;
}

.btn-1 {
  grid-area: btn13;
}

.btn-2 {
  grid-area: btn14;
}

.btn-3 {
  grid-area: btn15;
}

.btn-0 {
  grid-area: btn17;
}

.blue {
  background-color: #14213d;
  color: #fff;
}

.yellow {
  background-color: #fca311;
  color: #fff;
}

.black {
  background-color: #000000;
  color: #fff;
}
